body {
    margin-left: 1%;
    margin-top: 1%;
}

.img-container {
    width: 1000px;
}

.img-container img {
    width: 100%;
    height: auto;
}

.form-container {
    margin-top: 1%;
}

.result-div {
    margin-top: 2%;
}

table {
    border: 1px solid;
}

table {
    border-collapse: collapse;
}

.indices-container {
    margin: 15px;
}

button {
    margin-top: 10px;
}