.integerField {
    width: 50px;
}

.buttonsDiv {
    margin-top: 10px;
}

.errorDiv {
    color: red;
}

table {
    border: 1px solid;
    margin-top: 10px;
}

td {
    padding: 5px;
}

.tableDiv {
    margin: 10px;
}

.modifyButton {
    margin-top: 10px;
    margin-left: 2px;
}